.notFoundPage {
    text-align: center;
    margin-top: 25vh;
}

.notFoundPage button{
    position: fixed;
    bottom: 10vh;
    right: 25vw;
    width: 50vw !important;
    border-radius: 20px;
    padding: 0.9em;
}